
.map-container {
    position: fixed; 
    top: 0;
    left: 0;
}

.marker{
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white !important;
}



.marker img{
    display: block;
    height: 75px;
    width: 75px;
}


.overlay{
    position: fixed;
    background:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 20;
    color:white;
}
button#close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

button#close-btn:hover {
 color:red
}

.img-upload{
    height: 200px;
    width:300px;
    border: 5px solid black;
}

.logout{
    background: #0007;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    right: 20px;
    height: 50px;
    border-radius: 0px;
    font-size: 20px;
    top: 20px;
    transition: all .3s ease;
    z-index: 20;
}

.logout:hover {
    background-color: red;
}

.profile{
    display: flex;
    align-items: center;
    background-color: #0007;
    /* border-radius: 10px; */
    color: #fff;
    display: flex;
    gap: 10px;
    height: 50px;
    position: fixed;
    right: 120px;
    padding: 0 10px;
    top: 20px;
    width: 100px;
    z-index: 20;
}

.profile img{
    height: 30px;
    width: 30px;
    border-radius: 50%;

}
.profile p{
    color: white;
    font-size: 20px;
}


.adm-btn{
    position: fixed;
    
    background: #0007;
    padding: 10px;
    top: 20px;
    left: 260px ;
    
}

.admin {
    position: fixed;
    top: 20px;
    z-index: 20;
    margin-left:10px; 
    font-weight: bold;
    color: #006BB6;
    background-color: #F58426;
    transition: all 0.3s ease
}

.admin:hover {
    color: #F58426;
    background-color: #006BB6;
}