
.add-park-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border: 3px solid #222;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    width: 50%;
    width: 33%;
    justify-content: center;
    align-items: center;
    color: white !important;
    background: black;
}

.add-lat,
.add-long,
.add-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.add-lat label,
.add-long label,
.add-name label {
    margin-right: 10px;
    width: 100px;
    text-align: center;
    color: orange
}

.add-lat input,
.add-long input,
.add-name input {
 width:200px;
 padding:5px;
 border: 1px solid black;
 border-radius: 3px;
}

.add-park-form button {
    padding: 10px;
    background-color: #F58426;
    color: #006BB6;
    border: solid 1px black;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-park-form {
    align-items: center;
    display: flex;
    width: 33%;
    flex-direction: column;
    margin-top: 20px;
}

.add-park-form button:hover {
    color: #F58426;
    background-color: #006BB6;
}
.park-img-upload{
    border: 3px solid black;
    height: 300px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Manage {
    display: flex;
    background: #0007;
    box-shadow: 4px 5px 10px #000;
    color: #fff;
    height: 60vh;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
    width: 60vw;
    min-height: 600px;
    min-width: 1000px;
    gap: 40px;
    flex-direction: row-reverse;
}

.manage-parks {
    height: 100%;
    flex: 1;
    overflow: scroll;
}


.manage-park {
    display: flex;

    
    width: 80%;
    overflow: hidden;
    background: black;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    margin: 20px auto;
    border: 3px solid #222;
}


.manage-park button {
    text-align: center;
}