.Post, .Review {
  background-color: #000;
  /* border: 5px solid #007bff; */
  border-radius: 5px;
  box-shadow: 2px 2px 8px #222, -2px -2px 8px #222;
  color: white !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  width: 80%;
  }

  .Post h3, .review h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .post-info, .review-info  {
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    gap: 25px;
  }
  
  .post-info img, .review-info img {
    border-radius: 50%;
    height: 60px;
    margin-right: 8px;
    width: 60px;
  }

  .post-info h3 , .review-info h3{
    font-size: 24px;
    margin-bottom: 10px
  }
  
  .post-info p , .review-info p{
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  
  .post-img , .review-img{
    margin-bottom: 10px;
  }
  
  .post-img img , .review-img img{
    max-width: 100%;
    height:auto;

  }
  
  .Post p , .Review p{
    font-weight: 700;
    line-height: 1.5;
  }
  
  .edited {
    font-size: 12px;
    color: #666;
    margin-top: 10px;
  }
  
  button {
    background-color: #007bff;
    border: none;
    color: #F58426;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .Reviews button:hover ,  .Post button:hover {
    color: #006BB6;
    background-color: #F58426
  }

 